
body {
    margin: 0 auto;
    font-family: sans-serif;
}

#header-logo {
    width: 75%;
    margin: 0 auto;
    color: white;
    height: 100px;
    background-color: #1F2937;
    padding: 0 12.5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

#header-logo h1 {
    font-size: 24px;
    font-style: bold;
    color: white;
    margin: 0;
}

#header-logo ul {
    list-style-type: none;
    display: flex;
}

#header-logo ul li {
    margin-left: 3rem;
}

.button {
    text-align: center;
    background-color: #3882F6;
    border-radius: 7px;
    width: 150px;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.button p {
    padding-top: 15px;
    font-size: 18px;
    font-weight: bolder;
}


#banner-container {
    border: 2px solid white;
    background-color: #1F2937;
}

#banner {
    width: 75%;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid red;
}

#banner-text {
    color: white;
    font-size: 24px;
    width: 49% ;
    margin: 0 auto;
}

#banner-text h1 {
    font-size: 48px;
    font-weight: bolder;
}

#banner-img  p {

    margin: 0 auto;
    height: 250px;
    display: flex;
    align-items: center;
    
}

#img-contain {
    width: 40%;
    min-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
   /* margin-right: 200px; */
    border: 2px solid green;
    background-color: lightgray;
}

section h1 {
    width: 60%;
    font-size: 36px;
    font-weight: bolder;
    margin: 2rem auto 0.9rem;
    text-align: center;
}

#item-container {
    display: flex;
    border: 2px solid pink;
    width: 60%;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item {
    height: 175px;
    width: 175px;
    border-radius: 20px;
    margin-top: 10px;
    border: 5px solid #3882F6;
}

#item-info {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.item-text {
    text-align: center;
    max-width: 175px;
}

#quote-container {
    height: 300px;
    width: 100%;
    display: flex;
    background-color: #E5E7EB;
}

#quote {
    width: 80%;
    margin: 0 auto;
}

#quote h3 {
    width: 50%;
    margin: 30px auto;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

#quote p {
    width: 74%;
    text-align: right;
}

#info-2 {
    display: flex;
    align-items: center;
    width: 70%;
    height: 300px;
    margin: 0 auto;
}

#call-action {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
}

footer {
    width: 100%;
    bottom: 0;
    position: sticky;
    background-color: #1F2937;
    
}

footer p {
    margin: 0 auto;
    width: 80%;
    color: white;
    text-align: center;
}