
body {
    margin: 0 auto;
    font-family: sans-serif;
}

#header-logo {
    width: 80%;
    margin: 0 auto;
    color: white;
    height: 100px;
    background-color: #1F2937;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

#header-logo h1 {
    font-size: 48px;
    font-style: bold;
    color: white;
    margin: 0;
}

#header-logo ul {
    list-style-type: none;
    display: flex;
}

#banner-container {
    background-color: #1F2937;
}

#banner {
    width: 80%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#banner-text {
    color: white;
}

#banner-img  p{
    margin: 0;
    height:200px;
    min-width: 350px;
    background-color: grey;

}

#img-contain {
    margin: 0 auto;
    margin-right: 200px;
    border: 2px solid green;
}

section h1 {
    width: 80%;
    margin: 0 auto;
}

#item-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.item {
    height: 175px;
    width: 175px;
    border-radius: 20px;
    border: 5px solid #3882F6;
}

#item-info {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.item-text {
    text-align: center;
    max-width: 175px;
}

#quote-container {
    height: 300px;
    width: 100%;
    display: flex;
    background-color: #E5E7EB;
}

#quote {
    width: 80%;
    margin: 0 auto;
}

#quote h3 {
    width: 50%;
    margin: 30px auto;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

#quote p {
    width: 74%;
    text-align: right;
}

#info-2 {
    display: flex;
    align-items: center;
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

#call-action {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #3882F6;
}

footer {
    width: 100%;
    bottom: 0;
    position: sticky;
    background-color: #1F2937;
    
}

footer p {
    margin: 0 auto;
    width: 80%;
    color: white;
    text-align: center;
}